<h2 class="new-session-head">Sign in</h2>

<form class="new-session">

  <label for="user_username">Username</label>
  <input id="user_username" type="text" name="user[username]">

  <label for="user_password">Password</label>
  <input id="user_password" type="password" name="user[password]">

  <button>Sign in</button>

</form>

<nav class="form-links clearfix">
  <a href="#" id="demo-user-link" class="demo-user-link">Demo the site</a>
  <a class="twitter-auth-link" href="auth/twitter">Sign in with Twitter</a>
  <a class="new-user-link" href="#users/new">Create an account</a>
</nav>