<div id="user-show">
  <h2 class="user-show-username">
    <a href="#users/<%= user.id %>">
      <%= user.get('username') %>
    </a>
  </h2>
  <button class="follow-user-button">
    <% if (user.get('following')) { %>Unfollow<% } else { %>Follow<% } %>
  </button>
</div>

<div id="stories-index">

</div>