<nav class="sidebar-nav">
  <a href="#">
    Trending
  </a>
  <a href="#feed">
    Feed
  </a>
  <a href="#profile">
    Profile
  </a>
  <a href="#stories/new">
    New story
  </a>
  <a href="#logout" id="log-out">
    Log out
  </a>
</nav>
<h3>Authors you follow</h3>
<ul class="followed-authors-list clearfix">
  <% user.followedAuthors().each(function(author) { %>
    <li class="followed-author">
      <a href="#users/<%= author.id %>">
        <img src="<%= author.escape('avatar_url') %>"/>
      </a>
    </li>
  <% }) %>
</ul>

<h3>Tags you follow</h3>
<ul class="followed-tags-list clearfix">
  <% user.followedTags().each(function(tag) { %>
    <li class="followed-tag clearfix">
      <a class="followed-tag" href="#tags/<%= tag.id %>">
        <%= tag.escape('label') %>
      </a>
    </li>
  <% }) %>
</ul>