<div id="sidebar" class="sidebar slide-out clearfix">
</div>

<main class="sidebar-offset" id="app"></main>

<div class="loading-modal"></div>

<script type="text/javascript">
  $(document).ready(function(){
    MediumClone.initialize();
  });
</script>