<ul id="errors" class="errors gone"></ul>

<label for="story_title"></label>
<input type="hidden" id="story_title" name="story[title]" value="<%= story.escape('title') %>">
<div id="title_content_editor" class="editable" placeholder="Title"><%= story.escape('body') %></div>

<label for="story_body"></label>
<input type="hidden" id="story_body" name="story[body]" ><%= story.escape('body') %></textarea>
<div id="body_content_editor" class="editable" placeholder="Write your story."><%= story.escape('body') %></div>

<section id="story-status">
  
</section>

<section id="story-options">
  <a id="upload-banner">Upload banner image</a>
  <input type="file" id="upload-banner-input"></input>
  <a id="save-as-draft">Save as draft</a>
  <a id="publish-story">Publish</a>
  <a id="destroy-story">Delete</a>
  <div id="tag-form-view"></div>
</section>

<script>
  var bodyEditor = new MediumEditor('#body_content_editor', {
    forcePlainText : false,
    cleanPastedHTML : true,
    placeholder : '',
    disableDoubleReturn : true,
  });

  var titleEditor = new MediumEditor('#title_content_editor', {
    disableReturn : true,
    disableToolbar : true,
    placeholder : '',
  });
</script>