<h2 class="comment-stories-head centered-section-head">Popular stories</h2>
<div id="comment-stories"></div>

<h2 class="author-stories-head centered-section-head">From popular authors</h2>
<div id="author-stories"></div>