<h2 class="search-results-stories-head centered-section-head">Stories</h2>
<div class="body-column" id="stories"></div>

<h2 class="search-results-users-head centered-section-head">Authors</h2>
<div class="body-column clearfix" id="users"></div>

<h2 class="search-results-tags-head centered-section-head">Tags</h2>
<div class="body-column" id="tags"></div>