// Session and user form
.new_user, .new_session {
  width: 450px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 15px 0 15px;

  line-height: 1;

  border: 1px solid #888;
  border-radius: 10px;
}

.new_user > *, .new_session > * {
  margin-bottom: 15px;
}

.new_user > label, .new_session > label {
  display: block;
}

.sign-up-link, .log-in-link {
  display: block;
  text-align: center;
}

// Story form

.new_story {
  width: 475px;
}

#body_content_editor, #story_title {
  width: 100%;
  margin-bottom: 10px;

  border: 1px solid #888;
  border-radius: 2px;
}

#body_content_editor {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;

  border: 1px solid #888;
  border-radius: 2px;
}

.new_story > button {
  display: block;
  margin: auto;
}

// Story show

.story-content {
  position: relative;
}

// Comment show

.comment-view {
  position: absolute;
  width: 100px;
  top: 0;
  left: 459px;

  border: 1px solid #888;
  border-radius: 2px;
  padding: 5px;

  font-size: 14px;
}

.comment-view > p {
  font-style: italic;
}

.comment-view:hover {
  color: $selected-text;
}

// Comment form

.comment-form {
  position: absolute;
  width: 100px;
  left: 500px;
}

.comment-form > textarea {
  position: relative;
  top: -24px;
  width: 100px;
  height: 150px;

  border: 1px solid #888;
  border-radius: 2px;
}

.comment-form > button {
  display: block;
  margin: auto;
}

.selected-for-comment {
  color: $selected-text;
}
