$sidebar-width: 300;
$header-height: 60;
$main-offset: -75;

$body-width: 600px;
$base-fz: 16px;
$selected-text: #057D05;

// ==========
// Typography
// ==========
$base-font-size: 16;
$base-line-height: 1.5;
$base-content-height: $base-font-size * $base-line-height;