html {
}

body {
  background: #fff;
}

h1 {
  text-align: left;
  font-size: 24px;
  line-height: $header-height / 24;
  margin-left: 25px;
}

nav *:hover {
  background: #ccc;
  cursor: pointer;
}

article {
  margin-bottom: 36px;
  padding: 15px;

  border: 1px solid #888;
  border-radius: 10px;
}

article > a {
}

h3 {
  font-size: 24px;
  margin-bottom: 18px;
  border-bottom: 1px solid #888;
}

button {
  padding: 5px;

  border-radius: 5px;
  background: #ccc;
}

article {
  line-height: 1.5;
}