html {
}

body {
  width: $body-width;
  margin: auto;

  background: #fff;
}

header {
  display: block;
  position: relative;
  left: -50px;

  width: $body-width + 100;
  border-bottom: 4px double #000;
}

h1 {
  padding-top: 36px;
  padding-bottom: 18px;

  text-align: center;
  font-size: 54px;
}

nav *:hover {
  background: #ccc;
  cursor: pointer;
}

main {
  position: relative;
  left: -50px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width: 500px;
  float: right;
}

article {
  margin-bottom: 36px;
  padding: 15px;

  border: 1px solid #888;
  border-radius: 10px;
}

article > a {
}

h3 {
  font-size: 24px;
  margin-bottom: 18px;
  border-bottom: 1px solid #888;
}

button {
  padding: 5px;

  border-radius: 5px;
  background: #ccc;
}

article {
  line-height: 1.5;
}