html {
}

body {
  background: #fff;
}

.app-header {
  
  h1 {
    float: left;
    font-size: 24px;
    line-height: $header-height / 24;
    margin-left: 25px;
  }

  h2 {
    padding-right: 25px;
    float: right;
    font-size: 16px;
    font-weight: 700;
    line-height: $header-height / 16;
  }

}

nav *:hover {
  background: #ccc;
  cursor: pointer;
}

article {
  padding: 25px;
  margin-bottom: $base-content-height * 3px;
  line-height: $base-line-height;
}

article > a {
}

// =====
// Forms
// =====

[contenteditable=true]:empty:before {
  content: attr(placeholder);
}

[contenteditable=true]:focus {
  outline: 0;
}

button {
  padding: 5px;
  cursor: pointer;

  border-radius: 5px;
  background: #ccc;
}