

#header {
  box-sizing: content-box;
  display: block;
  position: fixed;
  top: 0px;
  height: $header-height + 0px;
  width: 100%;
  border-bottom: 4px double #000;
}

.sidebar {
  position: absolute;
  width: $sidebar-width + 0px;
  top: $header-height + 4px;
  bottom: 0;
  left: 0;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;

  background: #eee;

  transition: left 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slide-out {
  left: $sidebar-width * -1px;
}

#app {
  position: absolute;
  top: $header-height + 0px;
  right: 0px;
  bottom: 0px;
  left: $sidebar-width + 0px;
  overflow: auto;
  margin-top: 4px;
}

.story-show {
  position: relative;
}

.story-show-full {
  position: absolute;
  width: 100%;
  left: 0;
  margin-bottom: 100px;
}

.story-show-full .story-content {
    width: 550px;
    margin: auto;
    margin-bottom: $base-content-height * 1.5px;
}

.story-show-header {
  position: relative;
  width: 100%;
  left: 0px;
}

.story-summary {
  position: relative;
  margin: auto;
  max-width: 600px;
  transition: left 750ms ease-in;
}

.story-show-header-wide {
  width: 100%;
}