.sidebar-offset {
  position: relative;
  left: $sidebar-width / 2 * -1px;
}

#app.sidebar-offset {
  left: 0;
}

#header {
  box-sizing: content-box;
  display: block;
  position: fixed;
  top: 0px;
  height: $header-height + 2px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 2px rgba(0,0,0,0.15);
}

.sidebar {
  position: absolute;
  width: $sidebar-width + 0px;
  top: $header-height + 4px;
  bottom: 0;
  left: 0;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;

  background: #eee;

  transition: left 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slide-out {
  left: $sidebar-width * -1px;
}

#app {
  position: absolute;
  top: $header-height + 0px;
  right: 0px;
  bottom: 0px;
  left: $sidebar-width + 0px;
  overflow: auto;
  margin-top: 3px;
}

.story-show {
  position: relative;
}

.story-show-full {
  position: absolute;
  width: 100%;
  left: 0;
  margin-bottom: 100px;
}

.story-show-full .story-content {
  position: relative;
  width: 600px;
  padding: 0 5px 0 5px;
  margin: auto;
  margin-bottom: $base-content-height * 1.1px;
  cursor: pointer;
}

.story-show-full .story-content:hover, .story-show-full .selected-for-comment {
  position: relative;
  left: -1px;
  border-left: 2px solid $selected-text;
  width: 602px;
}

.story-show-header {
  position: relative;
  width: 100%;
  left: 0px;
}

.story-summary {
  position: relative;
  margin: auto;
  max-width: 600px;
  transition: left 750ms ease-in;
}

.story-show-header-wide {
  width: 100%;
}

.loading-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .8 )
              image-url('indicator-big.gif')
              50% 50%
              no-repeat;
}

body.loading {
  overflow: hidden;
}

body.loading .loading-modal {
  display: block;
}