h1, h2, h3, h4, p, main, section, 
article, header, footer, a, :visited, form, 
button, input, ul, li, html, body,
textarea, figure {
  margin: 0;
  padding: 0;

  background: inherit;
  outline: 0;
  border: 0;

  font: inherit;
  line-height: inherit;
  text-align: inherit;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  line-height: 1;
}

body {
  padding-bottom: 150px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
