<article>
  <a href="#stories/<%= story.id %>">
    <h3>
      <%= story.get('title') %>
    </h3>
  </a>
  <h4><%= story.author && story.author.get('username') %></h4>
  <p><%= story.get('body') %></p>
</article>
