<article>
  <a 
    class="story-view" 
    href="#stories/<%= story.id %>">
    <h3>
      <%= story.get('title') %>
    </h3>
  </a>
  <h4 class='author-name'><%= author && author.get('username') %></h4>
  <%= body %>
  <div id="tag-index-view"></div>
</article>
