<article>
  <h3><%= story.get('title') %></h3>
  <a 
    class="view-story-link" 
    data-id="<%= story.id %>">
    View story
  </a>
  <h4><%= story.author && story.author.get('username') %></h4>
  <p><%= story.get('body') %></p>
</article>
