<h4 class="tag-index-head">Tags</h4>
<nav class="tag-index-nav clearfix">
  <% tags.each(function(tag) { %>
    <a href='#tags/<%= tag.id %>' class="tag-label"><%= tag.escape('label') %></a>
  <% }) %>
</nav>