<div id="tag-show">
  <h2 class="tag-show-label"><%= tag.escape('label') %></h2>
  <button class="follow-tag-button">
    <% if (tag.get('following')) { %>Unfollow<% } else { %>Follow<% } %>
  </button>
</div>

<div id="stories-index">
  
</div>