<h2>Sign Up</h2>

<form>

  <label>
    Username
    <input type="text" name="user[username]">
  </label>

  <br>

  <label>
    Email
    <input type="email" name="user[email]">
  </label>

  <br>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <br>

  <button>Sign Up</button>
</form>

<a href="#session/new">Sign in</a>